/*
#wave {
  position: absolute;
  height: 70px;
  width: 600px;
  background: #e0efe3;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 345px;
  height: 80px;
  background-color: #6c757d;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}
*/

html,
body {
  height: 100%;
}

html {
  background: #eee;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  width: 1000px;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 15%;
  background: #0af;
  width: 1200px;
  height: 1200px;
  margin-left: -250px;
  margin-top: -950px;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 10000ms infinite linear;
          animation: drift 10000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 30000ms infinite linear;
          animation: drift 30000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 50000ms infinite linear;
          animation: drift 50000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9561e2), color-stop(80%, rgba(221, 238, 255, 0)), to(#6c757d));
  background: linear-gradient(to bottom, #9561e2, rgba(221, 238, 255, 0) 80%, #6c757d);
  z-index: 11;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  background-color: #6c757d;
}

.button-left {
  background-color: #9561e2;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.button-right {
  background-color: #9561e2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

